!!! 5
html(lang="en")
  head
    title VanJS
    meta(charset="utf-8")
    link(rel="stylesheet", href="/master.css")
    script
      window.port = #{process.env.PORT || 8001};
    script(src="http://cdn.socket.io/stable/socket.io.js")
    script(src="/application.js")
  body
    h1 VanJS Chat Client
    div#chat
    form#form(onsubmit="send();return false")
      input#text(type="text", autocomplete="off")
